body{
    font-size: 2em;
    text-align: center;
    background-color: rgb(240, 92, 129);
}

.btn{
    text-decoration: none;
    border-radius: 3px;
    width: 160px;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: black;
    color: rgb(255, 255, 255);
}
